.navBar {
    font-family: "Roboto", sans-serif;
    color: #FFF;
    display: flex;
    flex-direction: row-reverse;
    gap: 1vw;
    position: relative;
    padding-top: 1%;
    padding-right: 5%;
    padding-bottom: 1%;
    width: 100%;
    /* background-color: #FFF; */
    z-index: 1;
  }

  h3 {
    color: white;
  }
  