.Projects {
  /* display: flex; */
  width: fit-content;
  height: fit-content;
  color: #FFF;
  font-size: xx-large;
  padding-left: 10vw;
  padding-right: 10vw;
  /* padding-top: 10vh; */
  /* background-color: #FFF; */
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 5vw;
  column-gap: 10vw;
  flex-wrap: wrap;
  padding-bottom: 5vh;
}

.projectsGrid { 
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
  justify-items: center;
  padding-bottom: 5vh;
  }
.projectsGrid img {
  /* border: 1px solid #fff; */

  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  max-width: 100%;
}
