.projectCard {
  display: flex;
  flex-wrap: wrap;
  width: 30vw;
  height: 40vh;
  background-color: #0f0f11;
  border-radius: 20px;
  color: #fff;
  padding-left: 1vw;
  padding-top: 1vh;
  /* align-content: flex-start; */
  gap: 5vh;
  /* justify-content: center; */
  /* align-content: center; */
  box-shadow: 10px 20px 20px 10px #0f0f11;
}

.titleGradient {
  /* background: -webkit-linear-gradient(left, red , yellow); */
  /* background: -o-linear-gradient(right, red, yellow); */
  /* background: -moz-linear-gradient(right, red, yellow); */
  background: linear-gradient(to right, red, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.techWrap {
  display: flex;
  height: fit-content;
  background-color: #fff;
  color: #0f0f11;
  border-radius: 20px;
  padding: 5px;
}
