.bigPage {
    /* background-color: #1DB954; */
    padding-top: 5%;
    color: white;
    position: absolute;
    padding-left: 10%;
    width: 80%;
    height: 100%;
    z-index: 0;
}

p {
    font-size: 1.5rem;
}

.header {
    color: #1DB954;
}

h2 {
    /* color: #1DB954; */
}

.containerPadding {
    padding-bottom: 3%;
    width: 74vw;
}

.rowPadding {
    padding-bottom: 3%;
}

.image {
    width: 80%;
    height: 100%;
    margin: auto;
    display: block;
}

.imageWrapper {
    background-color: #1DB954;
    width: 75vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-bottom: 5vh;
}

.twoColImgWrapper {
    display: flex;
    margin: auto;
}

.twoColImg {
    width: 35vw;
}

.noPadding {
    padding-left: 0;
    margin-left: 0;
}