.bigPage {
    /* background-color: #1DB954; */
    padding-top: 5%;
    color: white;
    position: absolute;
    padding-left: 10%;
    width: 80%;
    height: 100%;
    z-index: 0;
}

p {
    font-size: 1.5rem;
}

.header {
    color: #1DB954;
}

h2 {
    color: #1DB954;
}

.containerPadding {
    padding-bottom: 3%;
}

